# Collection Types

# List
list is a collection type that allows you to store indexed values of any type

In [2]:
# List example of elements containing the same type
cars = ['Audi','BMW','VW','Mercedes','Honda']
print(cars)

['Audi', 'BMW', 'VW', 'Mercedes', 'Honda']

In [3]:
# List exaple of elements containing multiple types
some_list = ['abubakar', 123445, 234.4,123.546, True]
print(some_list)

['abubakar', 123445, 234.4, 123.546, True]

List comprehensions are useful way to quickly creating lists whose content obey a rule.
List comprehensions are inspired by set-builder notation in mathematics.
List comprehensions can also contain an if statement to enforce a condition on values in the list.

In [19]:
# this creates a series of 5 numbers powered by 3
cubes = [i**3 for i in range(5)]
print(cubes)

# this creates numbers of multiple of 2 from 0 to 18
nums = [i*2 for i in range(10)]
print(nums)

# this creates even numbers
# this take each integer from the range of 0 to 10, then multiply it by 2
evens = [i**2 for i in range(10) if i ** 2 % 2 == 0]
print(evens)

[0, 1, 8, 27, 64]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 16, 36, 64]

# Dictionaries
Dictionaries are another collection type and allow you to map arbitrary keys to values.
Dictionaries can be indexed in the same way as lists, using sqaure brackets containing keys. Each element in a dictionary is represented by a 'key:value' pair. Only immutable objects can be used as key in dictionaries (i.e string,integer,boolean and any other immutable object)

In [6]:
# Examples of Dictionaries
student_age = {'abubakar':24, 'yusuf':22, 'nusaiba':14, 'bintu':23}
print(student_age)
print()
for age in student_age:
    print(age, student_age[age])

{'abubakar': 24, 'yusuf': 22, 'nusaiba': 14, 'bintu': 23}

abubakar 24
yusuf 22
nusaiba 14
bintu 23

In [10]:
# to determine whether a key is in a dictionary you can use the 'in' and 'not in' just as you can for a list
numbers = {
    'one':1,
    2:'two',
    'three':3
}

print('one' in numbers)

# this is going to return false because "in" only checks for keys
print(1 in numbers)

# this return True because it does not exists in the keys
print('four' not in numbers)

True
False
True

a useful dictionary function is 'get', it does the same thing as indexing , but if the key is not found in the dictionary it returns another specified value.

In [26]:
# Example
pairs = {
    1:"apple",
    'orange':[1,2,3],
    True:False,
    12:'True'
}
print(pairs.get('orange'))
print(pairs.get(7, 42))
print(pairs.get(12345,'not found'))

# to determine the how many elements are in a dictionary you can use the 'len()' function
print('Length of dictionary',len(pairs))
# Note: The length of the dictionary is 3 because dictionary keys must be unique. In Python, the key True is treated as 1 (since True is equivalent to 1 in a boolean context). Therefore, the key 1 and the key True are considered the same, and the value associated with the second occurrence of the key (True: False) overwrites the first (1: "apple").

[1, 2, 3]
42
not found
Length of dictionary 3

# Tuples 
Tuples are very similar to list except that they are immutable(they cannot be changed). Also, they are created using parentheses, rather than square brackets. They can also be indexed

In [4]:
words = ('spam', 'eggs', 'sausages')
print(words)
print(words[0])

# tuples can be created without parentheses
my_tuple = 'one','two',3
print(my_tuple)

for item in my_tuple:
    print(item)

('spam', 'eggs', 'sausages')
spam
('one', 'two', 3)
one
two
3

# tuple unpacking allows you to assign each item in a collection to a variable

In [10]:
# example
numbers = (1,2,3,4,5)
# a variable that is prefaced with * takes all values from the collection that a left over from the other variables
one, two, three, *four = numbers
print(one)
print(two)
print(three)
print(four)

1
2
3
[4, 5]

# Sets
Sets are similar to lists or dictionaries. They are created using curly braces, and are unordered, which means that they can't be indexed.
Due to the way they're stored, it's faster to check whether an item is part of a set using the 'in' operator, rather than part of a list.
Sets cannot contain duplicate elements.

In [3]:
num_set = {1,2,3,4}
print(num_set)
for i in num_set:
    print(i)

{1, 2, 3, 4}
1
2
3
4

In [4]:
letters = {'a','b','c','d'}
if 'e' not in letters:
    print(1)
else:
    print(2)

1

You can use the add() function to add new items to the set, and remove() to delete a specific element

In [8]:
nums = {1,2,3,4,5}
print(nums)
nums.add(-7)
print(nums)
nums.remove(1)
print(nums)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, -7}
{2, 3, 4, 5, -7}

Duplicate elements will automatically get remove from the set
The len() function can be used to return the number of elements in a set.

In [10]:
new_nums = {1,2,1,2,3,4,5}
print(new_nums)
print(len(new_nums))

5

Sets can be combined using mathematical operations.
The union operator | combines two sets to form a new one containing items in either
The intersection operator & get items only in both
The difference operator - gets items in the first set nut not in the second 
The symmetric difference operator ^ get items in either set, but not both

In [13]:
first = {1,2,3,4,5}
second = {4,5,6,7,8,9}
print('Union: ',first | second)
print('Intersection: ', first & second)
print('Difference: ', first - second)
print('Symmetric difference: ', first ^ second)

Union:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection:  {4, 5}
Difference:  {1, 2, 3}
Symmetric difference:  {1, 2, 3, 6, 7, 8, 9}